* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}



body{
  display: block;
  background-image: url("./pizzapizza.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%
}

body{
  text-decoration: none;
  text-align: justify;
}
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
}

p{
  font-family: 'Asap', sans-serif;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
}

nav{
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

a:link{
    color:violet;
}
a:hover{
    color:violet;
}
a:visited{
    color:violet;
}

.container-fluid {
  width: 100%;
}
.grid {
  margin: 0;
  max-width: 1200px;
  width: 100%;
  display: flex;flex-wrap;
}

.row {
  width: 100%;
  margin-bottom: 0px;
  display: flex; flex-wrap;
  margin: 0px;
}

.col-md-1 {
  width: 8.33%;
  overflow: hidden;
}

.col-md-2 {
  width: 16.66%;
  overflow: hidden;
}

.col-md-3 {
  width: 25%;
  overflow: hidden;
}

.col-md-4 {
  width: 33.33%;
  overflow: hidden;
  background-color: transparent;
  text-align: right;
}

.col-md-5 {
  width: 41.66%;
  overflow: hidden;
}

.col-md-6 {
  width: 50%;
  overflow: hidden;
}

.col-md-7 {
  width: 58.33%;
  overflow: hidden;
}

.col-md-8 {
  width: 66.66%;
  overflow: hidden;
  text-align: left;
  background-color: white;
}

.col-md-9 {
  width: 75%;
  overflow: hidden;
}

.col-md-10 {
  width: 83.33%;
  overflow: hidden;
  text-align: left;
}

.col-md-11 {
  width: 91.66%;
  overflow: hidden;
}

.col-md-12 {
  width: 100%;
  overflow: hidden;
  background-color: white
  text-align:left;
}
header{
  width: 100%;
  margin-left: 0px;
}

header h1 h3{
  margin: 0;
  display: inline;
  padding: 0;
  background: white;
  text-align: left;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;

}

.blogs{
  text-align: center;
  background-color: white;
}

.planet{
  float: left;
  margin: 44px 10px 0 0;
}


nav{
  text-align: left;
  flex-direction: row;
}

.navbar{
  width: 100%;
}

li a {
    display: inline-block;
}

a {
  display: block;
  padding: 0px;
}

li{
  background-color: white
  margin: 0;
  display: inline-block;
  padding: 5px;

}

nav ul li a{
  color: violet;
}


header, footer{
  background-color: white;
}

.active {
    background-color: teal;
    color: white;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
